body {
    background-image: url('Images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

div{
    display: flex;
    flex-direction: row;
    text-align: center;
}

button{
    background-color: brown;
}

button:active{
    background-color: beige;
}
